section#centerIntro p {
    display: flex;
    flex-direction: column;
}

#imagePlaceHolder.centerItem {
    height: 300px;
    width: auto;
}

div.centerContainer {
    display: flex;
    justify-content: space-around;
}

section.marine, section.wild, section.vet, section.pet {
    padding: 5%;
    height: auto;
}

section.wild, section.pet {
    background-color: #E5E7EB;
}

.centerItem {
    flex: 0 1 500px;
}

div.centerItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerSubItem p, .centerSubItem h3 {
    color:#939496;;
}

@media only screen and (max-width: 1222px) {

    #imagePlaceHolder.centerItem {
        display: unset;
    }

    div.centerContainer {
        gap: 15px;
    }

    .centerSubItem p {
        overflow: scroll;
    }

}

@media only screen and (max-width: 943px) {

}

@media only screen and (max-width: 770px) {

    div.centerContainer {
        flex-direction: column;
    }

    div.centerContainer.reverse {
        flex-direction: column-reverse;
    }

    div.centerItemContainer {
        justify-content: space-around;
    }

}

