@import "../css/center.css";
@import "../css/volunteering.css";

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
}

header, footer, .hero {
    background-color: #1F2937;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 15%;
}

nav, #logo {
    margin-top: 15px;
} 

nav {
    width: 500px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
    width: auto;
}

section.hero {
    display: flex;
    padding: 90px 15%;
    justify-content: space-between;
    height: 420px;
}

div.intro, #imagePlaceHolder {
    width: 420px;
}

#imagePlaceHolder {
    position: relative;
    background-image: url(../images/commet.jpg);
    background-size: cover;
}

#ambassadorOverlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagePlaceHolder img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagePlaceHolder:hover #ambassadorOverlay {
    opacity: 1;
}

div.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro h1, h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;;
}

.intro p, nav a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 100;
}
button {
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    color: #E5E7EB;
    font-weight: normal;
    background-color: #3882F6;
    border: #3882F6;
}

.extraInfo h2, h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

section.extraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 20%;
    height: 450px;
}

.infoImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

div.info {
    display: flex;
    justify-content: space-between;

}

div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 220px;
    margin: 20px;
    color: #E5E7EB;
}

.item .infoImage {
    width: 100%;
    height:100%;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.item p {
    margin-top: 10px;
    width: 150px;
    min-height: 25%;
    max-height: 25%;
    color: #939496;
}

section.inspiringQuote {
    height: auto;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 5% 210px;
    display: flex;
    justify-content: center;
}

blockquote {
    width: 90%;
}

.inspiringQuote span {
    display: block;
    text-align: right;
    font-weight: bold;
    font-style: normal;
}

section.actionCall {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.actionBox {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 15px 0;
    height: 150px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

#callToAction {
    font-weight: bold;
}

#actionCallSubText {
    font-weight: 100;
}

button.signUpCall {
    border: 1px solid #E5E7EB;
}

footer {
    padding: 50px;
    text-align: center;
    color: #E5E7EB;
    font-weight: lighter;
}