#btn1 {
    margin-right: 5%;
}

#btn2 {
    background-color: #E5E7EB;
    color: #3882F6;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    background-color: #E5E7EB;
    margin: 5% 10%;
    color: #1F2937;
}

.formName, .formContacts, .choose {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.formName div, .formContacts div {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
}

.choose {
    flex-direction: column;
}

.formName div label, .formName div input, .formContacts div input, .formContacts div label {
    margin-top: 10px;
}

input, select {
    padding: 5px;
    border: none;
    font-style: italic;
}

select {
    margin-bottom: 10px;
}